<!doctype html>
<html>
<head>
<title>Geocoder</title>
<meta charset="utf-8">

<!-- Bootstrap core CSS -->
<link href="bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link rel="stylesheet" href="font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link href="new-age.min.css" rel="stylesheet">
<link href="custom.css" rel="stylesheet">

</head>

<div class="header-content mx-auto">
  <h1 class="text-center">Geocoder</h1>
	<br/>	
</div>
<body style="text-align:center;">
    <h3 class = "text-center">File uploaded successfully</h3>
	<h3 class = "text-center">Estimated process time: {{value}} seconds</h3>
	<br/>
    <form method="GET" action='/download'>
        <input class="btn btn-success" type="submit" value="Download Geocode">
    </form>

</body>
	</html>